.parallax{
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: fit-content;
}

.sky {
    background-image: url("../assets/images//cloud.png");
    background-size: content;
    background-position: bottom;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
}

.plane{
    background-image: url("../assets/images//plane.png");
    background-size: cover;
    justify-content: left;
    width: 30%;
    height: 30%;
    position: absolute;

}